
            <section style="background-image: url(../../../assets/702858.jpg);">
                <div class="container" >
                  <div class="row">
                    <div class="col-9">
                      <br>
                      <h1 style="font-size:40px;">ABOUT US</h1>
                      <div class="section">
     
                
                                <div class="bg-text">
                                    <!-- <h2>We are the Best </h2> -->
                                    <h1 style="font-size:35px">Why only wakeel sahab! ??</h1>
                                </div>
                            
                
                            <p style=" font-size: 20px;"> Wakeel Sahab is an interactive online platform that makes it faster and easier to find<br> and hire Top Rated Lawyers in any city / court in India, because you deserve access to <br>first-rate, professional legal advice from Top Rated Lawyers out there.<br> We are on a mission to make the legal experience remarkable by making legal services high quality, <br>cost-effective and on-demand for every need.

                                We are not a law firm, do not provide any <br>legal services, legal advice or "Lawyer referral services"<br> and do not provide or participate in any legal representation.</p>
                               
                        
                    
                    <hr>
                    <h1 style="font-size:40px" >Expert Legal advice & help - When and How you need it. </h1>
                      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <p style=" font-size: 20px;"> Wakeel Sahab lists Top Rated Legal Experts in the country to help you get practical<br> Legal Advice & help. We have experts across criminal defence, property dispute, family issues,<br> corporate law, IPR & 20 other areas of expertise. <br>Our listed Lawyers have practice across 700 cities, and 3000 courts across India, to help<br> provide you the required advice & representation for your legal issues.</p>
                      </div>
                    
                
                  <hr>
                    <br>
                
                    

                
                  
                  <div class="col-9">
                    <br>
                    <h1 style="font-size:35px;">Detailed Profiles for every listed Lawyer.</h1>
                    <div >
                         <p style=" font-size: 20px;"> We believe that the right information helps you make better decisions. At LawRato.com, we provide you with detailed information on Lawyers, their areas of expertise, and their experience so that you can make the choices that are right for you.</p>
                            
                      </div>
                      <hr>
                  </div>
                  
                  <div class="col-9">
                    <br>
                    <h1 style="font-size:35px;">Get advice – the way you want.</h1>
                    <div>
                         <p style=" font-size: 20px;"> We make it easy to consult Top Rated Lawyers. Discuss your issue over an email, schedule an office meeting, or consult with any of the listed Lawyers at your home / office. We are ready to help you, as per your convenience. 

                            We also offer FREE ADVICE through the website, where lacs of people have already found the right guidance for their needs.</p>
                            
                      </div>
                      <hr>
                  </div>
                  
                  <div class="col-9">
                    <br>
                    <h1 style="font-size:35px;">How it works?</h1>
                    <div>
                         <p style=" font-size: 20px;">Well, it's as easy as 1-2-3

                            1. Search and Select the Lawyer based on your need – Search by Specialization, City or Court Name.
                            2. We share your contact and enquiry details with the selected lawyer and the lawyer's contact details with you.
                            3. Call / meet the lawyer and discuss your legal issue directly with the selected lawyer.</p>
                            
                      </div>
                      <hr>
                  </div>
                  
                <br>
                
                  </div>
                
                </div>
                </div>
                </div>
                </section>
