
            <section style="background-color:white;">
                <div class="container" >
                  <div class="row">
                    <div class="col-9">
                      <br>
                      <h1 style="font-size:35px;">Landlord Rights for NRIs in India From Expert NRI Lawyer Adv Bindu Dubey</h1>
                      <div class="section">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active IMG">
                                    <img src="../../assets/anuu.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <!-- <h5>Welcome Friends</h5>
                                <p>Anubhav Tripathi</p> -->
                                    </div>
                                </div>
                
                                <div class="bg-text">
                                    <!-- <h2>We are the Best </h2> -->
                                    <h1 style="font-size:50px">Landlord Right For NRLs India</h1>
                                </div>
                            </div>
                
                            <p style="font-weight:bolder;"> According to the Black’s Law Dictionary – A landlord is one who, being the owner of an estate in land, has leased the same for a term of years,
                              on a rent reserved, to another person, called the “tenant.....”</p>
                               <a style="color: #000;" href="https://www.nrilegalservices.com/powers-rights-of-landlordsindia/#:~:text=Landlord%20hold%20the%20right%20to,Draft%20Model%20Tenancy%20Act%202015.">Read more..</a>
                        </div>
                    </div>
                    <hr>
                    <h1 style="font-size:30px;">Filing of Complaint Under Real Estate Regulatory Authority rera </h1>
                    <div class="section">
                      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item active IMG">
                                  <img src="../../assets/anoopoo.jpg" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                      <!-- <h5>Welcome Friends</h5>
                              <p>Anubhav Tripath</p> -->
                                  </div>
                              </div>
                
                              <div class="bg-text">
                                  <!-- <h2>We are the Best </h2> -->
                                  <h1 style="font-size:50px"> How to file Complaint Under </h1><br><h1 style="font-size:50px;color: red; ">Real</h1> <br> <h1 style="font-size:50px">Estate Authority rera </h1>
                              </div>
                          </div>
                
                          <p style="font-weight:bolder;"> Filing a complaint under RERA against errant developers is now convenient and simple. Complainants are required to pay a sum to the respective State Authority for registering a complaint under the Act.
                             Here’s a step-by-step guide on how to file a complaint under RERA......”</p>
                             <a style="color: #000;" href="https://www.99acres.com/articles/how-to-file-a-complaint-under-rera.html">Read more..</a>
                      </div>             
                    </div>
                
                  <hr>
                    <br>
                
                    </div>
                    <div class="col-3">
                      <br><br>
                      <br><br>
                      <br>
                      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header" ><p style="font-size: 20px; font-weight: bolder;">SEARCH BLOG</p></div>
                        <div class="card-body">
                          <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <button type="button" class="btn btn-outline-primary">search</button>
                          </div>
                          <br>
                          <h3 style="font-size: 20px; font-weight: bolder;">POST TAGS</h3>
                          <div class="list-group">
                            <a href="https://en.wikipedia.org/wiki/Anticipatory_bail"  class="list-group-item list-group-item-action list-group-item-light">Anticipatory Bail</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Bail" class="list-group-item list-group-item-action list-group-item-light"> Bail </a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Fraud" class="list-group-item list-group-item-action list-group-item-light">Business Fraud Layer</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Child_custody" class="list-group-item list-group-item-action list-group-item-light">Child Custody</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Child_Maintenance_Group" class="list-group-item list-group-item-action list-group-item-light">Child Maintainance</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Child_custody" class="list-group-item list-group-item-action list-group-item-light">Child Custody Law</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Child_support" class="list-group-item list-group-item-action list-group-item-light">Child Support Law</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Corporate_lawyer" class="list-group-item list-group-item-action list-group-item-light">Corporative Lawyer</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Code_of_Criminal_Procedure_(India)" class="list-group-item list-group-item-action list-group-item-light">Criminal Lawyer</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Criminal_defense_lawyer" class="list-group-item list-group-item-action list-group-item-light">Criminal Bail</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Divorce" class="list-group-item list-group-item-action list-group-item-light">Divorce Lawyer</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Domestic_violence_in_India" class="list-group-item list-group-item-action list-group-item-light">Domestic Abuse</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Sexual_harassment" class="list-group-item list-group-item-action list-group-item-light">Sexual Harressment</a>
                            <br>
                            <a href="https://en.wikipedia.org/wiki/Violence_Against_Women_Act" class="list-group-item list-group-item-action list-group-item-light">Women Protection</a>
                            <br>
                            <h3 style="font-size: 20px; font-weight: bolder;">CATAGORIES</h3>
                            <hr>
                            <!-- <ul class="list-group list-group-flush">
                              <li class="list-group-item">CORPORATE LAW</li>
                              <br>
                              <li class="list-group-item">CRIMINAL LAWYER</li>
                              <br>
                              <li class="list-group-item">FAMILY COURT ADVOCATES</li>
                              <br>
                              <li class="list-group-item">LABOUR COURT LAWYERS</li>
                              <br>
                              <li class="list-group-item">LAWYERS</li>
                            </ul> -->
                
                            <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Corporate_law"><p >CORPORATE LAW</p></a>
                            <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Criminal_defense_lawyer"><p>CRIMINAL LAWYER</p></a>
                            <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Family_law"><p>FAMILY COURT ADVOCATES</p></a>
                           <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Labour_law"><p>LABOUR COURT LAWYERS</p></a>
                           <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Lawyer"><p>LAWYERS</p></a>
                           <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Fraud"><p>LAWYERS FOR FRAUD CASES</p></a>
                           <a style="color: #ffff;" href="https://en.wikipedia.org/wiki/Property_law"><p>REAL ESTATE LAWYER</p></a>
                
                
                
                          </div>
                          <!-- <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                  </div>
                
                  </div>
                  <div class="col-9">
                    <br>
                    <h1 style="font-size:35px;">How RERA Change Real Estate Business In India? Property Law</h1>
                    <div class="section">
                      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item active IMG">
                                  <img src="../../assets/anoopoo.jpg" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                
                                  </div>
                              </div>
                
                              <div class="bg-text">
                
                                  <h1 style="font-size:50px"> How RERA change Real Estate</h1>
                                  <br>
                                  <h1 style="font-size:50px">
                                     Business In India?</h1>
                              </div>
                          </div>
                
                          <p style="font-weight:bolder;"> According to the Act, 'transfer of property' means an act by which a person conveys the property to one or more persons, or himself and one or more other persons.
                            The act of transfer may be done in the present or for the future. .....”</p>
                             <a style="color: #000;" href="https://en.wikipedia.org/wiki/Transfer_of_Property_Act_1882">Read more..</a>
                      </div>
                  </div>
                
                  </div>
                
                </div>
                </section>
