body {
    background-image: url(../assets/img3.jpeg);
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 220px;
    background: #0f172a;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    background-image: url(https://images.unsplash.com/photo-1589216532372-1c2a367900d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    background-image {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    // background-color: #95B4CC;
}