<!-- <mat-sidenav-container>
    <mat-sidenav mode="over" opened> -->
<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../assets/collar.png" alt="company logo" />
    </div>
    <mat-divider></mat-divider>
    <h3 matSubheader class="mt-2">APPLICATIONS</h3>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>Home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/Lawyers/criminal-lawyer" routerLinkActive="list-item-active">
        <mat-icon>Registration</mat-icon> Registration
    </a>
    <a mat-list-item routerLink="Login" routerLinkActive="list-item-active">
        <mat-icon>About</mat-icon> About
    </a>
    <a mat-list-item>
        <mat-icon>Contact</mat-icon> Contact
    </a>
    <a mat-list-item routerLink="/Lawyers/blog" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> Blog
    </a>
</mat-nav-list>
<!-- </mat-sidenav>
</mat-sidenav-container> -->